<%- include('common/header'); -%>
<%- include('components/navigation', { user: user, page: 'about' }); -%>
<main>
  <section class="about">
    <h1>Про сайт</h1>
    <p>Цей сайт створено як приклад інтерфейсу на javascript з використанням <a href="https://expressjs.com">Express.js</a> та <a href="https://ejs.co">Embedded JavaScript шаблонів</a>.</p>
    <p>Якщо у вас ще немає акаунту, ви можете зареєструватись.</p>
    <p>Після реєстрації Ви можете додавати фільми в список "Хочу переглянути" або "Переглянуті".</p>
  </section>
</main>
<%- include('common/footer'); -%>
